---
import Layout from '../layouts/common.astro'
---
	<Layout title="Blog">

    <div class="mb-10 p-8 bg-white border border-gray-200 shadow-xl
     rounded-2xl ring-1 ring-offset-2 flex flex-col">
     <p class="mb-6 text-gray-400 uppercase text-sm">Feb 4'22</p>
     <h3 class="text-2xl font-semibold text-gray-900">February Big Update</h3>
     <p class="mt-6 text-gray-500">Today we introduced an even newer bigger update....</p>
     </div>
    
    <div class="mb-10 p-8 bg-white border border-gray-200 shadow-xl
     rounded-2xl ring-1 ring-offset-2 flex flex-col">
     <p class="mb-6 text-gray-400 uppercase text-sm">Jan 4'22</p>
     <h3 class="text-2xl font-semibold text-gray-900">Some News</h3>
     <p class="mt-6 text-gray-500">Today we introduced a new big update....</p>
     </div>
</Layout>